:root {
	--body-bg-color: #FAF7FD;
	--purple: #BB99DD;
}

*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--purple);
	background-color: var(--body-bg-color);
	font-size: 16px;
}

.container {
	min-height: 100vh;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-content {
	width: 326px;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.box-img {
	width: 212px;
	height: 212px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: solid 2px var(--purple);
}

.box-img img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.user-instagram {
	display: block;
	font-weight: 300;
	margin-top: 15px;
	margin-bottom: 33px;
	color: var(--purple);
	text-align: center;
}

.box-content main {
	width: 100%;
	margin-bottom: 68px;
}

.links li {
	text-align: center;
	margin-top: 16px;
}

.links li:first-child {
	margin-top: 0;
}

.links li a {
	display: block;
	padding: 12px;
	border: solid 2px var(--purple);
	border-radius: 4px;
	color: var(--purple);
	font-weight: 600;
	text-transform: uppercase;
}

.links li a:hover {
	background-color: var(--purple);
	color: var(--body-bg-color);
}

.social {
	display: flex;
}

.social li {
	margin-left: 29px;
}

.social li:first-child {
	margin-left: 0;
}